:root {
  --gray-50: #f7f7f8;
  --gray-100: #ececf1;
  --gray-200: #d9d9e3;
  --gray-300: #c5c5d2;
  --gray-400: #acacbe;
  --gray-500: #8e8ea0;
  --gray-600: #565869;
  --gray-700: #40414f;
  --gray-800: #343541;
  --gray-900: #202123;
  --gray-950: #050509;
}

body {
  display: flex;
  height: 100vh;
  color: white;
}

.side-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: var(--gray-900);
  width: 16.25rem;
}
.side-bar > div {
  width: 90%;
}

main {
  flex: 1;
  background: var(--gray-800);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

textarea {
  all: unset;
  background: var(--gray-700);
  color: white;
  padding: 1rem 1rem;
  border-radius: .9rem;
  font-size: 1rem;
  width: 46rem;
}

.footer {
  font-size: 0.7rem;
  margin-top: .7rem;
  color: var(--gray-300);
}

.input-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.send-button {
  position: absolute;
  right: .8rem;
  bottom: 1.2rem;
  width: 30px;
  height: 30px;
  background-color: rgb(25, 195, 125);
  border-radius: .3rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.send-icon {
  margin-top: 4px;
  width: 16px;
  height: 16px;
  display: block;
}

.card {
  height: 3rem;
  display: flex;
  justify-content: space-between;
}

.card > div {
  padding: 1rem;
}

.inner-card {
  display: flex;
}

.toggle {
  background: var(--gray-900);
  border-radius: 1rem;
  display: flex;
}

.gpt-option {
  width: 10rem;
  height: 3rem;
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.subtitle {
  font-weight: 600;
}

.content {
  display: flex;
}

.content .table {
  width: 13rem;
  margin: .25rem;
}

.content .table .head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.content .table .desc > div {
  background: var(--gray-700);
  border-radius: .3rem;
  margin-bottom: .5rem;
  font-size: .8rem;
  padding: .5rem .7rem;
}
